c_darken     = #1A1A1A
c_dark       = #2F2F2F
c_darklight  = #555555
c_gray       = #999999
c_ligth      = #AAAAAA
c_ligthen    = #FAFAFA
c_primary    = #FFFFFF
c_success    = #FDFDFD
c_curiosity1 = #1B91B7
c_curiosity2 = #2CAECC
c_curiosity3 = #69C6E5
c_curiosity4 = #85CDE0
c_curiosity5 = #ABD3D8
c_curiosity6 = #BFD7D8
// font
f_box_title = 'Raleway', helvetica, arial
f_box_paragraph = 'lato', helvetica, sans-serif
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

text-shadow()
  -webkit-text-shadow arguments
  -moz-text-shadow arguments
  text-shadow arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments
.cont
  background-color black
span
  color c_success
a
  color: c_curiosity1
  :hover
    color: c_curiosity2
  :active
    color: c_curiosity3

.transparent
  background-color rgba(0,0,0,0)!important
  a
    font-family f_box_title
    text-shadow 0px 0px 4px #000
.comment
  background-color c_ligthen
  //background-attachment fixed
  //background-image url('../res/img/bg.jpg')
  //background-repeat no-repeat
  color c_ligth
  height 40vh
body
  font 12px Helvetica, Arial, sans-serif
  font-weight 300
  color c_darklight
.message
  h1
    font-family f_box_title
    font-size 3em
    font-weight 300
    margin-bottom 0
  p
    box-sizing border-box
    color c_gray
    font-family f_box_paragraph
    font-size 18px
    line-height 28px
    outline 0px none
a.button
  border-radius 5px
// Header class
.cnav
  background-color c_ligthen
  color c_dark
.wall
  background-attachment fixed
  // background-blend-mode multiply
  background-color #020A17
  background-repeat no-repeat
  min-height 64vh
  width 100%
  .foot
    background-color rgba(0,0,0,.5)
    color c_ligthen

.services
  background-color c_curiosity2
  padding 1.6em
  color c_ligthen
  header
    font-family f_box_title
    font-size 1.3em
    font-weight bold
  .box
    font-family f_box_paragraph
    font-size 1.2em
    header
      font-family f_box_paragraph
      font-size 1.1em
      font-weight bold

.quotes
  background-color c_darken
  color c_success
  blockquote
    display block
    //font-family Georgia, serif
    font-size 1.6em
    //font-style italic
    line-height 1.2
    margin 0
    padding 3.6em 2em 3.2em 2.4em
    position relative
    text-align justify
    text-indent 2em
    width 100%
    &:before
      color rgba(255,255,255, 0.8)
      content "\201C" /*Unicode for Left Double Quote*/
      font-family Georgia, serif
      font-size 4.8em
      font-weight bold
      left 0.1em
      position absolute
      top -0.10em
      text-indent 0
    &:after
      bottom -28px
      color rgba(255,255,255, 0.8)
      content "\201d"
      font-family Georgia, serif
      font-size 4.8em
      font-weight bold
      position absolute
      text-indent 0
      right 0.1em
      bottom -0.5em;
    em
      color c_gray
      display block
      font-style italic
      text-align right

.card
  box-shadow 0 0 4px 0px rgba(0,0,0,0.4)
  border solid #e1e1e1 1px
  border-radius 2px
  img
    width 100%
  article
    color c_dark
    font-family f_box_paragraph
    padding 0 1em

//.contact-form

footer.footer
    background-color c_darken
    color c_ligth
    padding 1em
  .isotype
    text-align center
    margin auto
