@media (min-width: 1920px) {
  .wall {
    background-image: url("../res/img/bg-gt.jpg");
  }
}

@media (max-width: 1920px) {
  .wall {
    background-image: url("../res/img/bg-lg.jpg");
  }
}

@media (max-width: 1280px) {
  .wall {
    background-image: url("../res/img/bg-md.jpg");
  }
}

@media (max-width: 960px) {
  .wall {
    background-image: url("../res/img/bg-sm.jpg");
  }
}

@media all and (max-width: 600px) {
  .wall {
    background-image: url("../res/img/bg-xs.jpg");
  }
}

.cont {
  background-color: #000;
}
span {
  color: #fdfdfd;
}
.transparent {
  background-color: rgba(0,0,0,0) !important;
}
.transparent a {
  font-family: 'Raleway', helvetica, arial;
  -webkit-text-shadow: 0px 0px 4px #000;
  -moz-text-shadow: 0px 0px 4px #000;
  text-shadow: 0px 0px 4px #000;
}
.comment {
  background-color: #fafafa;
  color: #aaa;
  height: 40vh;
}
body {
  font: 12px Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
}
.message h1 {
  font-family: 'Raleway', helvetica, arial;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0;
}
.message p {
  box-sizing: border-box;
  color: #999;
  font-family: 'lato', helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  outline: 0px none;
}
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cnav {
  background-color: #fafafa;
  color: #2f2f2f;
}
.wall {
  background-attachment: fixed;
  background-color: #020a17;
  background-repeat: no-repeat;
  min-height: 64vh;
  width: 100%;
}
.wall .foot {
  background-color: rgba(0,0,0,0.5);
  color: #fafafa;
}
.services {
  background-color: #2caecc;
  padding: 1.6em;
  color: #fafafa;
}
.services header {
  font-family: 'Raleway', helvetica, arial;
  font-size: 1.3em;
  font-weight: bold;
}
.services .box {
  font-family: 'lato', helvetica, sans-serif;
  font-size: 1.2em;
}
.services .box header {
  font-family: 'lato', helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
.quotes {
  background-color: #1a1a1a;
  color: #fdfdfd;
}
.quotes blockquote {
  display: block;
  font-size: 1.6em;
  line-height: 1.2;
  margin: 0;
  padding: 3.6em 2em 3.2em 2.4em;
  position: relative;
  text-align: justify;
  text-indent: 2em;
  width: 100%;
}
.quotes blockquote:before {
  color: rgba(255,255,255,0.8);
  content: "\201C" /*Unicode for Left Double Quote*/;
  font-family: Georgia, serif;
  font-size: 4.8em;
  font-weight: bold;
  left: 0.1em;
  position: absolute;
  top: -0.1em;
  text-indent: 0;
}
.quotes blockquote:after {
  bottom: -28px;
  color: rgba(255,255,255,0.8);
  content: "\201d";
  font-family: Georgia, serif;
  font-size: 4.8em;
  font-weight: bold;
  position: absolute;
  text-indent: 0;
  right: 0.1em;
  bottom: -0.5em;
}
.quotes blockquote em {
  color: #999;
  display: block;
  font-style: italic;
  text-align: right;
}
.card {
  -webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
  border: solid #e1e1e1 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.card img {
  width: 100%;
}
.card article {
  color: #2f2f2f;
  font-family: 'lato', helvetica, sans-serif;
  padding: 0 1em;
}
footer.footer {
  background-color: #1a1a1a;
  color: #aaa;
  padding: 1em;
}
.isotype {
  text-align: center;
  margin: auto;
}
