extends ./layouts/main.jade
include ./mixins/block.jade

block content
  div#about-us.message.pure-g
    div.l-box.pure-u-1.pure-u-sm-3-4
      h1 Somos una empresa de Software y Tecnologia.
      p
        |  Lorem ipsum dolor sit amet, consetetur adipisicing elit. Eum possimus quas, dolor dolorem voluptates, voluptatum deserunt rerum et consequuntur autem ipsam iure minus, porro eaque accusantium, ratione itaque veniam provident.
    div.l-box.pure-u-1.pure-u-sm-1-4
      +article({title:'Titulo', block:'contenido largo'})

  div#services.services.pure-g
    each serv in data.services
      +service(serv)

  div.quotes
    blockquote(cite="http://google.com")
      | No hay emoción más intensa para un inventor que ver una de sus creaciones funcionando
      em - Nikola Tesla

  div#work.cards.pure-g
    +card
    +card
    +card

  include ./includes/footer.jade
