mixin article(obj)
  .article
    .article-wrapper
      h3= obj.title
      span= obj.block
      //if obj.block
      //else
      //  p No content provided

mixin service(obj)
  div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
    header= obj.title
    if obj.content
      p.box= obj.content
    else
      p.box No content provided.

mixin card()
  div.l-box.pure-u-1.pure-u-md-1-3
    section.card
      header
        img(src='res/img/bg-xs.jpg' alt='image Out')
      article
        p sdsadsadsfkjdf
