doctype html
html(lang=data.lang)
  include ../includes/head.jade
  body(ng-app='CuriosityApp')
    include ../includes/header.jade
    div#container.content-wrapper
      block content
    include ../includes/footer.jade
    include ../includes/foot.jade
