if env === 'prod'
  // Scripts para Desarrollo.
  script(src='/scripts/lib.min.js')
  script(src='/scripts/app.min.js')
else
  // Scrips para Producción
  each val in scripts.lib
    script(src=val)
  each val in scripts.app
    script(src=val)
