footer.footer
  div.pure-g
    div.isotype.pure-u-1.pure-u-sm-1-5
      img(src='res/img/isotype-white.png', alt='curiosity')
    div.pure-u-1.pure-u-sm-1-5
      h4 Curiosity
      p
        | Curiosity S.A.C.
    div.form.pure-u-1.pure-u-sm-2-5
      h3 Contacto
      form.pure-form(action='index.html', method='post')
        fieldset.pure-group
          input.pure-input-1(type='text', placeholder='Correo electronico')
          input.pure-input-1(type='text', placeholder='Nombre completo')
          textarea.pure-input-1(placeholder='Mensaje')
        button.pure-button.pure-input-1.pure-button-primary(type='button', name='button')
          | Enviar

      //form.contact-form.pure-form.pure-form-aligned(action='#', name='contactFrm')
        fieldset
          div.pure-control-group
            label(for='email') E-mail:
            input(name='email', placeholder='Correo electronico')
        fieldset
          div.pure-control-group
            label(for='name') Nombres:
            input(name='name', placeholder='Nombre completo')
        fieldset
          div.pure-control-group
            label(for='content') Asunto:
            textarea(name='content', rows='8', cols='40')
              | ¿En que podemos ayudater?
        div.pure-control-group
          button.pure-button.pure-button-primary(type='button', name='button')
            | Enviar

    div.pure-u-1.pure-u-sm-1-5
      ul
        li
          a(href='#') Tw
          a(href='#') Fb
          a(href='#') Bb
  div
    p
      span Curiosity Software Company&nbsp;|&nbsp;
      a(href='#') Contacto
