header.header
  //div.md-toolbar-tools.cnav
    h2=data.brand
    span(flex)
    md-button.md-icon-button(aria-label='Favorite')
      md-icon(md-svg-icon='res/icons/favorite.svg')
  div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
    <a href="#" class="pure-menu-heading pure-menu-link">CURIOSITY</a>
    ul.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(href="#about-us") ¿Quienes Somos?
      li.pure-menu-item
        a.pure-menu-link(href="#services") ¿Que Hacemos?
      li.pure-menu-item
        a.pure-menu-link(href="#work") Nuestro trabajo
      //- li.pure-menu-item
        a.pure-menu-link Unetenos
  div.splash-container.wall
    section.splash
      header.splash-head
        img(src='res/img/logo-w.png', alt='curiosity', layout-align='center')
      article.splash-subhead
        | Calidad basada en tecnologia
        br
        | Tecnologia basada en calidad
      footer.splash-foot(hide-gt-xs)
        md-list(layout='row', layout-xs='column', layout-align='center center')
          md-list-item
            h3
              a ¿Que Hacemos?
          md-list-item
            h3
              a ¿Quienes Somos?
          md-list-item
            h3
              a Servicios
          md-list-item
            h3
              a Unetenos
