head
  meta(charset='utf-8')
  meta(content='article', property='og:type')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(content='Curiosity', property='og:site_name')
  meta(content=title, property='og:title')
  meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
  link(rel='icon', href='/res/img/isotype.png')
  // google fonts
  link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')

  title
    block title
      | #{data.title}
  //- CSS libs from config.js
  if env === 'prod'
    link(rel='stylesheet', href='/styles/lib.min.css', type='text/css')
    link(rel='stylesheet', href='/styles/app.min.css', type='text/css')
  else
    each val in styles.lib
      link(rel='stylesheet', href=val, type='text/css')
    link(rel='stylesheet', href='styles/app.css', type='text/css')
